@media screen and (max-width: 485px) {
  @import "../vars.scss";
  * {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  body {
    padding: 0;
  }

  .menu,
  .content,
  .intro,
  .sobre,
  .experiencia,
  .meus-projetos,
  .contato,
  footer {
    margin: 0;
    padding: 0;
  }

  .intro h1,
  .sobre h2,
  .experiencia h2,
  .meus-projetos h2,
  .contato h2,
  footer h3 {
    font-size: 24px;
  }

  .imagem-intro img,
  .imagem-sobre img,
  .box-projeto {
    width: 100%;
  }

  .btn,
  .btn2,
  .btn3,
  .btn4,
  .btn5,
  .btn6 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn3R {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn img {
    padding-left: 10px;
  }

  .btn h2,
  .btn2 h2,
  .btn3 h2 .btn3R h2,
  .btn4 h2,
  .btn5 h2,
  .btn6 h2 {
    font-size: 16px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10%;
    height: 10vh;
  }

  .mobile-menu {
    margin-right: 1%;
  }

  .paginas {
    top: 6.8vh;
    right: -5px;
    height: 65vh;
    width: 75vw;
    margin-left: 0;
    margin-right: 5px;
    border-bottom-left-radius: 20px;
    justify-content: start;
    align-items: center;
    transform: translateX(110%);
  }

  .paginas li {
    padding-top: 50px;
    margin-left: 0;
  }

  #logo {
    margin-right: 30%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .saudacao {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 100px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .saudacao h1 {
    text-align: center;
    max-width: 80%;
  }

  .saudacao h2 {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
  }

  .imagem-intro img {
    display: flex;
    width: 200px;
    height: 200px;
    padding-top: 20px;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .imagem-sobre {
    display: flex;
    width: 230px;
    height: 230px;
    padding-top: 90px;
    padding-bottom: 0;
  }

  .h2s {
    padding-top: 10px;
  }

  .sobre-titulo {
    padding-top: 0;
  }

  .sobre h1 {
    font-size: 23px;
  }

  .sobre p {
    font-size: 18px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn h2 {
    font-size: 18px;
  }

  .experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experiencia .tituloxp {
    padding-top: 75px;
    font-size: 22px;
  }

  .habilidades {
    margin-bottom: 50px;
  }

  .btn2 {
    margin-left: 0;
    width: 60%;
  }

  .meus-projetos {
    padding-top: 80px;

    .projetos {
      flex-direction: column;
      align-content: center;
      justify-content: center;
  
      .link-projeto {
        max-width: 500px;
        min-height: 350px;
  
        .box-projeto {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 2px;
          flex-grow: 1;
          flex-basis: 0;
  
          .nome-projeto {
            font-size: 22px;
            margin-top: 50px;
          }
  
          p{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
          }
  
          h4 {
            max-width: 90%;
          }
        }
      }
      .link-projeto::before{
        max-width: 500px;
        max-height: 400px;
      }
  
      .btn5 {
        font-size: 17px;
        width: 60%;
      }
    }
  }

  .colunaC h3 {
    max-width: 90%;
  }

  .sociais {
    display: flex;
    max-width: 85%;
    border-radius: 30px;
    padding-bottom: 10px;

    h3 {
      font-size: 17.5px;
    }
  }

  .redes {
    height: 50px;
    gap: 25px;
  }

  .redes a {
    z-index: 1;

    i {
      cursor: pointer;
      font-size: 2.3rem;
      transition: 0.3s ease-in-out;
    }

    i:hover {
      font-size: 2.5rem;
    }
  }

  .contato {
    padding-top: 90px;
  }

  .contato br {
    display: none;
  }

  footer {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  footer h3 {
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}
