@media screen and (max-width: 400px) {
  @import "../vars.scss";

  .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;

    .paragrafro {
      p {
        font-size: 20px;
      }

      .btn {
        max-width: 100%;
      }
    }
  }

  .experiencia {
    .diferenciais {
      .card {
        text-align: center;
        width: 360px;
      }
    }
  }

  .meus-projetos {
    .destaques {
      .destaque-projetos {
        .link-projeto {
          min-width: 250px !important;
          min-height: 350px;
          padding-top: 0px;

          .box-projeto {
            padding: 0 10px !important;

            p {
              font-size: 16px;
            }

            h4 {
              font-size: 12px;
            }
          }
        }
      }
    }

    .projetos {
      .link-projeto {
        min-width: 250px !important;
        min-height: 350px;
        padding-top: 0px;

        .box-projeto {
          padding: 0 10px !important;

          p {
            font-size: 16px;
            padding-bottom: 5px;
          }

          h4 {
            font-size: 12px;
          }
        }
      }
    }
  }

  .sociais {
    display: flex;
    max-width: 350px;
    border-radius: 30px;
    padding-bottom: 10px;

    h3 {
      font-size: 17px;
    }
  }

  .footer{
    h3{
      font-size: 12px;
    }
  }
}
