@media screen and (max-width: 375px) {
    @import "../vars.scss";

    .link-projeto{
      min-height: 500px;
    }


    .sociais {
        display: flex;
        max-width: 70%;
        border-radius: 30px;
        padding-bottom: 10px;
    
        h3 {
          font-size: 17px;
        }
      }
}