@media screen and (max-width: 375px) {
  @import "../vars.scss";

  .box-projeto {
    max-width: 330px !important;
    min-height: 500px;
  }

  .experiencia {
    .diferenciais {
      .card {
        max-width: 300px !important;
        min-height: 300px;

        .card-titulo h3 {
          font-size: 20px;
        }

        .card-body {
          flex-direction: column;

          .card-icon {
            font-size: 3rem;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .sociais {
    display: flex;
    max-width: 90% !important;
    border-radius: 30px;
    padding-bottom: 10px;

    h3 {
      font-size: 17px;
    }

    .redes{
      gap: 20px;
    }
  }

  footer {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0px;

    h3 {
      font-size: 12px;
    }
  }
}
