@media screen and (max-width: 1343px) and (min-width: 1085px) {
  @import "../vars.scss";
  body {
    overflow-x: hidden;
  }

  #logo {
    display: flex;
    margin-top: 10px;
    margin-bottom: 32px;
  }

  .paginas {
    position: absolute;
    top: 10.3vh;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 50vh;
    height: 55vh;
    border-bottom-left-radius: 20px;
    background-color: $bg-menu;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .paginas li {
    padding-top: 50px;
    margin-left: 0;
    opacity: 0;
  }

  header span {
    font-size: 20px;
  }

  .mobile-menu {
    display: block;
    margin-top: 10px;
    margin-right: 30px;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
  }

  .sobre-titulo {
    padding-top: 20px;
  }

  .imagem-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-top: 90px;
    padding-bottom: 50px;
  }

  .sobre h1 {
    padding-top: 30px;
    font-size: 23px;
  }

  .sobre p {
    font-size: 18px;
  }

  .h2s {
    padding-top: 75px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn h2 {
    font-size: 18px;
  }

  .meus-projetos {
    .projetos {
      .link-projeto {
        min-width: 650px;
        height: 250px;

        .box-projeto {
          p {
            font-size: 19px;
          }

          h4{
            font-size: 16px;
          }
        }
      }
    }
  }

  .btn5 {
    padding-bottom: 0;
    margin-top: -30px;
  }

  .colunas {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 15%;
    margin-right: 15%;
  }

  .sociais {
    width: 400px;
    border-radius: 50px;
  }

  .sociais h3 {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
