@media screen and (max-width: 710px) {
    @import "../vars.scss";
    * {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .imagem-intro img {
        display: flex;
        width: 250px;
        height: 250px;
        padding-top: 20px;
    }

    .saudacao h2 {
        font-size: 25px;
    }

    .intro h1 {
        font-size: 40px;
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .intro h2 {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .meus-projetos {
        animation: none;
        animation-timeline: none;
        animation-range: none;

        .box-projeto {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;
            height: 500px;
        }
    }

    .sobre {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .sobre img {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .btn2 {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .contato{
      margin: 100px 0;

      .colunaC{
        padding: 0 20px;

        .content-form{
          max-width: 500px;

          .form-contato{
            width: 100%;
            max-width: 360px;

            input, textarea{
              width: 100%;
            
            }
          }
        }
      }
    }
}
