@media screen and (max-width: 1085px) {
  @import "../vars.scss";
  * {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  body {
    overflow-x: hidden;
  }

  .menu {
    .content {
      #logo {
        display: flex;
        margin-left: 5%;
      }

      .mobile-menu {
        display: block;
        margin-right: 5%;
      }
    }
  }

  .paginas {
    position: absolute;
    top: 8.2vh;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 50vh;
    height: 65vh;
    border-bottom-left-radius: 20px;
    background-color: $bg-menu;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

    .btn-language {
      color: white;
    }

    li {
      padding-top: 50px;
      margin-left: 0;
      opacity: 0;
    }
  }

  header span {
    font-size: 20px;
  }

  .imagem-intro img {
    display: flex;
    width: 270px;
    height: 270px;
    padding-top: 20px;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    animation: none;
    animation-timeline: none;
    animation-range: none;

    .sobre-titulo {
      padding-top: 20px;

      .h2s {
        padding-top: 75px;
      }
    }

    h1 {
      padding-top: 30px;
      font-size: 23px;
    }

    p {
      font-size: 18px;
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 18px;
      }
    }
  }

  .experiencia {
    .diferenciais {
      flex-direction: column;
    }
  }

  .meus-projetos {
    animation: none;
    animation-timeline: none;
    animation-range: none;

    .destaque-projetos {
      flex-direction: column;

      .box-projeto {
        min-width: 460px;
        height: 260px;
        padding-top: 20px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        h3 {
          font-size: 16px;
        }

        p {
          margin-top: 0 !important;
          font-size: 16px;
        }

        .btns-projeto {
          .btn-link-site,
          .btn-link-git {
            font-size: 1.3rem;
          }
        }

        h4 {
          margin-top: 20px;
          font-size: 14px;
        }
      }

      .btn5 {
        padding-bottom: 0;
        margin-top: -30px;
      }
    }

    .projetos {
      .box-projeto {
        min-width: 460px;
        height: 260px;
        padding-top: 20px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        .nome-projeto {
          font-size: 30px;
        }

        h3 {
          font-size: 16px;
        }

        p {
          margin-top: 0 !important;
          font-size: 18px;
        }

        .btns-projeto {
          .btn-link-site,
          .btn-link-git {
            font-size: 1.3rem;
          }
        }

        h4 {
          margin-top: 20px;
          font-size: 14px;
        }
      }

      .btn5 {
        padding-bottom: 0;
        margin-top: -30px;
      }
    }
  }

  .sociais {
    width: 400px;
    border-radius: 50px;

    h3 {
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }
}
