@media screen and (max-width: 425px) {
  @import "../vars.scss";

  .meus-projetos {
    .destaque-projetos {
      flex-direction: column !important;
      .box-projeto {
        min-width: 330px !important;
        min-height: 400px;
      }
    }

    .projetos {
      .box-projeto {
        min-width: 330px !important;
        min-height: 400px;
      }
    }
  }

  .experiencia {
    .diferenciais {
      .card {
        max-width: 360px !important;
        min-height: 300px;

        .card-titulo h3 {
          font-size: 20px;
        }

        .card-body {
          flex-direction: column;

          .card-icon {
            font-size: 3rem;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .sociais {
    display: flex;
    max-width: 85%;
    border-radius: 30px;
    margin-bottom: 10px;

    h3 {
      font-size: 17px;
    }
  }
  .sociais::before {
    border-radius: 30px;
  }

  .sociais::after {
    inset: 3px;
    border-radius: 30px;
  }
}
