@media screen and (max-width: 710px) {
  @import "../vars.scss";
  * {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  .imagem-intro img {
    display: flex;
    width: 250px;
    height: 250px;
    padding-top: 20px;
  }

  .saudacao h2 {
    font-size: 25px;
  }

  .intro h1 {
    font-size: 40px;
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  .intro h2 {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  .meus-projetos {
    animation: none;
    animation-timeline: none;
    animation-range: none;

    .link-projeto {
      display: flex;
      min-width: 450px;
      height: 350px;

      .box-projeto {
        display: flex;

        p {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .sobre {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  .sobre img {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  .btn2 {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }
}
