@media screen and (min-width: 1343px) {
  @import "../vars.scss";

  .sobre .paragrafo p{
    max-width: 80%;
  }

  .menu .content {
    #logo{
      margin-left: 7%;
    }
    .paginas {
      margin-right: 7%;
    }
  }

  .colunaC h3{
    max-width: 60%;
  }
}
