@keyframes desappear2 {
  from {
    opacity: 1;
    translate: 0 0;
  }

  to {
    opacity: 0;
    translate: 100vw 0;
  }
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

@keyframes moveLeft {
  0% {
    font-size: 0;
    opacity: 0;
    transform: translateX(-160px);
  }
  100% {
    opacity: 1;
    transform: translateX(-140px);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
  
    transform: translateX(50px);
  }
  50% {
    opacity: 0.5;
   
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textFadeOut {
  0% {
    opacity: 1;
    display: inline;
  }
  50%{
    display: hidden;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: inline;
  }
}

@keyframes textReplace {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: inline;
    
  }
}

@keyframes moveCloseTagBack {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveCloseTagBack2 {
  0% {
    transform: translateX(-35px);
  }
  100% {
    transform: translateX(0px);
  }
}