@import "./vars.scss";
@import "./animations.scss";

.contato {
    margin: 150px 50px;

    span {
        color: $verde-principal;
    }

    h2 {
        color: $verde-secundario;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .colunaC {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 0 30px;

        .content-contato {
            display: flex;
            flex-direction: column;

            h3 {
                color: #fff;
                text-align: center;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .estou {
                max-width: 90%;
            }

            .sociais {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 300px;
                height: 50px;
                border-radius: 50px;
                background: $verde-secundario;
                margin-top: 40px;
                padding: 10px 0;

                a {
                    z-index: 1;
                }

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 3rem;
                    transition: 0.3s ease-in-out;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        color: $verde-dark;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    background: $verde-sete;
                    inset: 4px;
                    border-radius: 50px;
                    z-index: 0;
                }
            }
        }

        .content-form {
            .form-contato {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input,
                textarea {
                    width: 100%;
                    border-radius: 10px;
                    color: black;
                    background-color: white;
                    font-size: 1rem;
                    padding: 0 15px;
                }

                input {
                    height: 50px;
                }

                textarea {
                    padding: 15px 15px;
                }

                input::placeholder,
                textarea::placeholder {
                    color: rgb(38, 38, 38);
                }

                button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 240px;
                    height: 45px;
                    margin-top: 15px;
                    border-radius: 19.5px;
                    background: $verde-principal;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    text-decoration: none;

                    h4 {
                        z-index: 1;
                        color: #fff;
                        font-size: 1.1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background: $verde-sete;
                        inset: 4px;
                        border-radius: 25px;
                    }

                    &:hover {
                        border-radius: 19.5px;
                        background-color: $verde-oito;
                        box-shadow: 0px 1px 1px 0px #fff;
                    }
                }
            }
        }
    }
}
