@import "./vars.scss";
@import "./animations.scss";

.experiencia {
  display: flex;
  flex-direction: column;
  margin: 0 7%;
  align-items: center;
  padding: 200px;
  justify-content: center;
  align-self: center;

  .tituloxp {
    color: $verde-secundario;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  span {
    color: $verde-principal;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 40px;
    justify-content: center;

    .btn2 {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 53px;
      border-radius: 30px;
      background: $verde-quaternario;
      transition: $transicao-botao-hover;
      text-decoration: none;
      margin-left: 20px;
      margin-right: 20px;
      overflow: hidden;

      h2 {
        z-index: 1;
        font-size: 19px;

        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        padding-left: 10px;
      }

      i {
        display: flex;
        font-size: 2.3rem;
        z-index: 1;
      }
    }
    .btn2::before {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 200px;
      height: 63px;
      border-radius: 30px;
      animation: 4s linear 0s infinite normal none running barra;
    }
    .btn2::after {
      content: "";
      position: absolute;
      background: $verde-quaternario;
      inset: 3px;
      border-radius: 30px;
    }
    .btn2:hover {
      color: black;
      background: $verde-seis;
    }
  }
}

.meus-projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 7%;
  padding: 100px 0 50px 0;
  align-items: center;

  span {
    color: $verde-principal;
  }

  h2 {
    color: $verde-quaternario;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
  }

  .projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 45px;
    align-items: flex-start;
    justify-content: center;

    .link-projeto {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 430px;
      position: relative;
      background: $verde-sete;
      border-radius: 30px;
      overflow: hidden;
      transition: 0.3s ease-in-out;

      .box-projeto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2px;
        flex-grow: 1;
        flex-basis: 0;

        .nome-projeto {
          text-align: center;
          color: #fff;
          z-index: 1;
        }

        h4 {
          color: $verde-principal;
          text-align: center;
          font-size: 0.8rem;
          max-width: 90%;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: 5px;
          z-index: 1;
        }

        p {
          color: #fff;
          max-height: 90px;
          max-width: 90%;
          text-align: center;
          font-size: 15.5px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: auto;
          margin-bottom: auto;
          z-index: 1;
        }
      }
    }
    // .link-projeto::before {
    //   content: "";
    //   position: absolute;
    //   background-color: #fff;
    //   width: 450px;
    //   height: 440px;
    //   border-radius: 30px;
    //   animation: 10s linear 0s infinite normal none running barra;
    // }
    // .link-projeto::after {
    //   content: "";
    //   position: absolute;
    //   background: $verde-darkL;
    //   inset: 4px;
    //   border-radius: 30px;
    // }
    .link-projeto:hover {
      background-color: $verde-principal;
      transform: scale(1.03);
    }
  }

  .btn5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 19.5px;
    background: $verde-quaternario;
    box-shadow: 0px 4px 1px 0px #fff;
    cursor: pointer;
    transition: $transicao-botao-hover3;
    text-decoration: none;
    margin-bottom: 45px;

    h2 {
      color: #fff;
      font-size: 15.5px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      transition: $transicao-botao-hover4;
    }
  }
  .btn5:hover {
    transform: scale(1.2);
    border-radius: 19.5px;
    background-color: #1ee61e;
    box-shadow: 0px 3px 1px 0px #fff;
  }
  .btn5:hover h2 {
    color: $verde-darkL;
    font-weight: 600;
  }
}
