@import "./vars.scss";
@import "./animations.scss";

.experiencia {
    display: flex;
    flex-direction: column;
    margin: 0 7%;
    align-items: center;
    padding-top: 95px;
    justify-content: center;
    align-self: center;

    .tituloxp {
        color: $verde-secundario;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    span {
        color: $verde-principal;
    }

    h3 {
        color: white;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin-top: 5px;
    }

    .habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;
        justify-content: center;
        margin-bottom: 20px;

        .btn2 {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 53px;
            border-radius: 30px;
            background: $verde-terciario;
            transition: $transicao-botao-hover;
            text-decoration: none;
            overflow: hidden;

            i {
                display: flex;
                font-size: 2.3rem;
                z-index: 1;
            }

            .image-icon {
                width: 30px;
                z-index: 1;
            }

            h2 {
                z-index: 1;
                font-size: 19px;

                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                padding-left: 10px;
            }

            &::after {
                content: "";
                position: absolute;
                background: $verde-seis;
                inset: 4px;
                border-radius: 30px;
            }

            &:hover {
                background: $verde-darkL;
            }
        }

        .btn2b {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 53px;
            border-radius: 30px;
            background: $verde-secundario;
            transition: $transicao-botao-hover;
            text-decoration: none;
            overflow: hidden;

            h2 {
                z-index: 1;
                font-size: 19px;

                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                padding-left: 10px;
            }

            i {
                display: flex;
                font-size: 2.3rem;
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                background: $verde-cinco;
                inset: 4px;
                border-radius: 30px;
            }

            &:hover {
                background: $verde-darkL;
            }
        }
    }

    .diferenciais-titulo {
        margin-top: 35px;
    }

    .diferenciais {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            max-height: 200px;
            min-height: 200px;
            background: $verde-quaternario;
            border-radius: 30px;
            padding: 15px 5px;
            flex-grow: 1;
            flex-basis: 0;
            transition: 0.3s ease-in-out;
            box-shadow: 2px 7px 1px $verde-oito;

            .card-titulo h3 {
                font-weight: 600;
                margin-top: auto;
                margin-bottom: auto;
                letter-spacing: 3px;
            }

            .card-body {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .card-icon {
                    font-size: 4rem;
                    color: $verde-darkL;
                }

                p {
                    font-size: 16px;
                    max-width: 75%;
                    color: white;
                }
            }
        }
        .card:hover {
            background: $verde-cinco;
            box-shadow: 2px 5px 10px $verde-oito;
        }
    }
}

.meus-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7%;
    padding: 100px 0 50px 0;
    align-items: center;

    span {
        color: $verde-principal;
    }

    h2 {
        color: $verde-quaternario;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h3 {
        color: white;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin-bottom: 20px;
    }

    .destaque-projetos {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-bottom: 45px;
        align-items: flex-start;
        justify-content: center;

        .box-projeto {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 370px;
            background: $verde-sete;
            border-radius: 30px;
            padding: 0 3px;
            overflow: hidden;
            flex-grow: 1;
            transition: 0.3s ease-in-out;

            .nome-projeto {
                text-align: center;
                color: #fff;
                z-index: 1;
                max-width: 80%;
            }

            h4 {
                color: $verde-principal;
                text-align: center;
                font-size: 0.8rem;
                max-width: 90%;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 5px;
                z-index: 1;
            }

            p {
                color: #fff;
                max-height: 90px;
                max-width: 90%;
                text-align: center;
                font-size: 15.5px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: auto;
                margin-bottom: auto;
                z-index: 1;
            }

            .btns-projeto {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                gap: 10px;
                margin-bottom: 10px;

                .btn-link-site,
                .btn-link-git {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    padding: 0 10px;
                    background-color: $verde-cinco;
                    font-size: 1.1rem;
                    box-shadow: none;
                    border-radius: 30px;
                    transition: 0.3s ease;
                }
                .btn-link-site:hover,
                .btn-link-git:hover {
                    transform: scale(1.1);
                    box-shadow: 1px 1px 3px 1px #09090981;
                }
            }
        }
        .box-projeto::after {
            content: "";
            position: absolute;
            background: $verde-oito;
            inset: 3px;
            border-radius: 30px;
        }
        .box-projeto:hover {
            background-color: $verde-principal;
            transform: scale(1.03);
        }
    }

    .projetos {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 45px;
        align-items: flex-start;
        justify-content: center;

        .box-projeto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            height: 370px;
            position: relative;
            background: $verde-sete;
            flex-grow: 0;
            flex-basis: 1;
            border-radius: 30px;
            padding: 0 3px;
            overflow: hidden;
            transition: 0.3s ease-in-out;

            .nome-projeto {
                text-align: center;
                color: #fff;
                z-index: 1;
                max-width: 95%;
            }

            h4 {
                color: $verde-principal;
                text-align: center;
                font-size: 0.8rem;
                max-width: 90%;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: 5px;
                z-index: 1;
            }

            p {
                color: #fff;
                max-height: 90px;
                max-width: 90%;
                text-align: center;
                font-size: 15.5px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: auto;
                margin-bottom: auto;
                z-index: 1;
            }

            .btns-projeto {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                gap: 10px;
                margin-bottom: 10px;

                .btn-link-site,
                .btn-link-git {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    gap: 3px;
                    padding: 0 10px;
                    background-color: $verde-cinco;
                    font-size: 1.1rem;
                    box-shadow: none;
                    border-radius: 30px;
                    transition: 0.3s ease;
                }
                .btn-link-site:hover,
                .btn-link-git:hover {
                    transform: scale(1.1);
                    box-shadow: 1px 1px 3px 1px #09090981;
                }
            }
        }
        .box-projeto::after {
            content: "";
            position: absolute;
            background: $verde-darkL;
            inset: 4px;
            border-radius: 30px;
        }
        .box-projeto:hover {
            background-color: $verde-principal;
            transform: scale(1.03);
        }
    }

    .btn5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 33px;
        flex-shrink: 0;
        border-radius: 19.5px;
        background: $verde-quaternario;
        box-shadow: 0px 4px 1px 0px #fff;
        cursor: pointer;
        transition: $transicao-botao-hover3;
        text-decoration: none;
        margin-bottom: 45px;

        h2 {
            color: #fff;
            font-size: 15.5px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            transition: $transicao-botao-hover4;
        }
    }
    .btn5:hover {
        transform: scale(1.2);
        border-radius: 19.5px;
        background-color: #1ee61e;
        box-shadow: 0px 3px 1px 0px #fff;
    }
    .btn5:hover h2 {
        color: $verde-darkL;
        font-weight: 600;
    }
}
