@import "./vars.scss";
@import "./animations.scss";

.mobile-menu {
  display: none;
  cursor: pointer;

  div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  }
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 12vh;
  width: 100%;
  background-color: $bg-menu;
  backdrop-filter: blur(3px);

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 3px;
    height: 64px;
    width: 100%;
    position: fixed;

    #logo {
      display: flex;
      color: $verde-principal;
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      transition: color 0.5s ease;
      margin-left: 5%;

      .text:visited {
        color: $verde-principal;
      }

      .text:hover {
        color: white;
      }

      span {
        color: $verde-secundario;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .tag1 {
        opacity: 0;
        animation: moveRight 1s ease-in forwards 1s;
      }

      .tag2 {
        opacity: 0;
        animation: moveLeft 1s ease-in forwards 1s;
      }

      .text {
        opacity: 0;
        font-size: 25px;
        animation: fadeIn 2s ease-in forwards 1s;
      }
    }

    .paginas {
      display: flex;
      justify-content: center;
      align-items: center;

      #link-pags {
        margin-left: 18px;
      }
    }
  }
}

header span {
  color: white;
  font-size: 18.5px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  transition: color 0.5s ease;
}
header span:hover {
  color: $verde-principal;
}
