@import "./vars.scss";
@import "./animations.scss";

.mobile-menu {
  display: none;
  cursor: pointer;

  div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  }
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  background-color: $bg-menu;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid $border-menu;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 3px;
    height: 64px;
    width: 100%;
    position: fixed;

    #logo {
      display: flex;
      color: $verde-principal;
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      transition: color 0.5s ease;

      .text:visited {
        color: $verde-principal;
      }

      .text:hover,
      .hidden-text:hover {
        color: white;
      }

      span {
        color: $verde-secundario;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .tag1 {
        animation: moveRight 1s ease-in;
      }

      .tag2 {
        animation: moveLeft 1s ease-in, moveCloseTagBack 0.8s ease forwards 7s;
        transform: translateX(-140px);
      }

      .text {
        opacity: 0;
        font-size: 25px;
        animation: textFadeIn 0.5s ease-in forwards 1s,
          textFadeOut 0.5s ease-out forwards 6s;
      }

      .hidden-text {
        opacity: 0;
        animation: textReplace 1s ease-in forwards 7s;
        margin: 0 3px;
      }
    }

    .paginas {
      display: flex;
      justify-content: center;
      align-items: center;

      #link-pags {
        margin-left: 18px;
      }

      .btn-language {
        color: $verde-secundario;
        .div-btn-language {
          display: flex;
          align-items: center;

          span{
            display: flex;
            align-items: center;
            gap: 4px;
          }

          .icon-language{
            font-size: 22px;
          }
        }
      }
    }
  }
}

header span {
  font-size: 18.5px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  transition: color 0.5s ease;
}
header span:hover {
  color: $verde-principal;
}
