@import "./vars.scss";
@import "./animations.scss";

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 210px;
  align-items: center;
}

.intro h1 {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.5s;
  animation: desappear forwards;
  animation-timeline: scroll();
  animation-range: cover 0% cover 50%;
}

.intro span {
  color: $verde-principal;
  transition: 0.3s ease-in;
}

.saudacao {

  h2 {
    color: $verde-terciario;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: desappear2 forwards;
    animation-timeline: scroll();
    animation-range: cover 0% cover 50%;
  }
}

.imagem-intro img {
  width: 410px;
  height: 410px;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 210px;
  padding-bottom: 210px;
  margin-left: 7%;
  margin-right: 7%;
  align-items: center;
}

.imagem-sobre img {
  width: 400px;
  height: 400px;
}

.sobre h2 {
  color: $verde-secundario;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 30px;
  padding-right: 30px;
}

.sobre span {
  color: $verde-principal;
}

.sobre p {
  color: #fff;
  text-align: center;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.sobre h1 {
  font-size: 27px;
  font-weight: normal;
  text-align: center;
}

.sobre-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2s {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 10%;
  width: auto;
  height: 40px;
  border-radius: 19.5px;
  background: #187618;
  box-shadow: 0px 4px 1px 0px #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, width 0.5s ease,
    height 0.5s ease;
  text-decoration: none;
  overflow: hidden;

  .link-icon {
    font-size: 1.4rem;
    color: white;
    z-index: 1;
  }
}
.btn::before {
  content: "";
  position: absolute;
  background-color: #4dff00;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  animation: 6s linear 0s infinite normal none running barra;
}
.btn::after {
  content: "";
  position: absolute;
  background: $verde-quaternario;
  inset: 3px;
  border-radius: 30px;
}
.btn:hover {
  background-color: $verde-cinco;
  box-shadow: 0px 3px 1px 0px #fff;
}

.btn h2 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-left: 10px;
  transition: color 0.5s ease;
  z-index: 1;
}

.btn i {
  z-index: 1;
}
